<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2><%= blog.title %></h2>
    <div>
        <p><%= blog.body %></p>
    </div>
    <a class="delete" href="" data-doc="<%= blog._id %>">delete</a>

    <script>
    const trashCan = document.querySelector('a.delete');

    trashCan.addEventListener('click',(e) => {
        const endPoint = `/blogs/${trashCan.dataset.doc}`;

        fetch(endPoint,{
            method: 'DELETE'
        })
        .then((response) => response.json)
        .then((data) => window.location.href = data.redirect)
        .catch((err) =>  console.log(err))
    })
    </script>
  </body>
</html>
